.logo::before {
  content: "";
  background-image: url("https://a.trellocdn.com/prgb/assets/d947df93bc055849898e.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}
.logo:hover::before {
  opacity: 1;
  background-image: url("https://a.trellocdn.com/prgb/assets/87e1af770a49ce8e84e3.gif");
}
